{{>header}}
<div class="m-40">
    <div class="surveyBody">
        <div class="preview">
            <h2 class="card card-title text-center">
                Encuesta
            </h2>
            {{>survey-container}}
        </div>
    </div>
</div>