  
<img src="/img/fondo.jpg" alt="fondo" class="img-backgroud">
<div class="container-forgot animated flipInY">
    <div class="forgot">
        <div class="logo">
            <a href="/"><img src="/img/logo2.png" alt="logo"></a>
        </div>
        <form action="/users/forgot" method="POST">
            <div class="titulo">
                <h4>Ingrese su correo para recuperar la contraseña</h4>
            </div>
            <div class="group-input">
                <i class="fas fa-user"></i> <input type="email" name="email" placeholder="Correo" autocomplete="off" autofocus required>
            </div>
            <div class="group-input">
                <button type="submit" class="btn-rad btn-red btn-block">Enviar</button>
            </div>
        </form>
    </div>
</div>